@font-face {
    font-family: 'Proxima Nova Thin';
    src: url('../fonts/ProximaNovaT-Thin.eot');
    src: url('../fonts/ProximaNovaT-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNovaT-Thin.woff') format('woff'),
        url('../fonts/ProximaNovaT-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/ProximaNova-Light.eot');
    src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Light.woff') format('woff'),
        url('../fonts/ProximaNova-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}